@import "../../../../../utils/styles/mixins.scss";
@import "../../../../../utils/styles/colors.scss";

.container {
  border: 2px solid $black-2;
  background-color: $black-3;
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 0.75rem;
}
