// Black shades
$black-1: #131319;
$black-2: #35373b;
$black-3: #27292d;
$black-4: #191920;

// White shades
$white-1: #c5c7ca;
$white-2: #7f8084;
$white-3: #ffffff;

// Blue shades
$blue-1: #4a96ff;
